        body {
            background-image: url(https://i.ytimg.com/vi/b4MSexCxyhM/maxresdefault.jpg);
            background-size:100%;
            background-position: 100% 10%%;
            color: white;
        }

        h1 {
            color: black;
        }
        h3{
            color: black;
        }
        ol{
            color: black;
        }
        h2{
            color: black;
        }
        a{
            text-decoration: none;
        }
